@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

button:hover {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

/* top-bar */
.top-bar {
  display: flex;
  padding: 20px 16px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.top-bar--flat {
  box-shadow: none;
}

.top-bar__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #131113;
}

.top-bar__back-btn {
  margin-right: 32px;
}

.top-bar__back-btn:hover {
  cursor: pointer;
}

/* slider */

.slider {
  position: relative;
}

.slider__image {
  width: 100%;
}

.slider__item {
  position: relative;
}

.slider__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 43%,
    rgba(7, 7, 7, 0.6) 87%
  );
}

.slider__count {
  position: absolute;
  bottom: 16px;
  left: 16px;
  opacity: 0.8;
  color: #131113;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 18px;
}

/* menu-info*/

.menu-info__address {
  margin-top: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #8f8f8f;
}

.menu-info__nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.menu-info__categories-btn {
  background-color: transparent;
  border: 0;
}

.categories-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.categories-list {
  display: flex;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  margin-left: 16px;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.categories-list__item {
  list-style: none;
  padding: 10px 24px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #8f8f8f;
}

.categories-list__item:hover {
  cursor: pointer;
}

.categories-list__item--active {
  background: rgba(218, 218, 218, 0.35);
  border-radius: 40px;
}

/* media queries */

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
